{
  "allowAdminCommands" : true,
  "allowAdminCommandsFromAnyone" : false,
  "allowAnonymousConnections" : false,
  "allowAssetsMismatch" : true,
  "anonymousConnectionsAreAdmin" : false,
  "bannedIPs" : [],
  "bannedUuids" : [],
  "checkAssetsDigest" : false,
  "clearPlayerFiles" : false,
  "clearUniverseFiles" : false,
  "clientIPJoinable" : true,
  "clientP2PJoinable" : true,
  "configurationVersion" : {
    "basic" : 2,
    "server" : 4
  },
  "crafting" : {
    "filterHaveMaterials" : false
  },
  "gameServerBind" : "::",
  "gameServerPort" : 21025,
  "interactiveHighlight" : true,
  "inventory" : {
    "pickupToActionBar" : true
  },
  "maxPlayers" : 8,
  "maxTeamSize" : 4,
  "monochromeLighting" : false,
  "playerBackupFileCount" : 3,
  "queryServerBind" : "::",
  "queryServerPort" : 21025,
  "rconServerBind" : "::",
  "rconServerPassword" : "",
  "rconServerPort" : 21026,
  "rconServerTimeout" : 1000,
  "runQueryServer" : false,
  "runRconServer" : false,
  "safeScripts" : true,
  "scriptInstructionLimit" : 10000000,
  "scriptInstructionMeasureInterval" : 10000,
  "scriptProfilingEnabled" : false,
  "scriptRecursionLimit" : 100,
  "serverFidelity" : "automatic",
  "serverName" : "My Starbound Server",
  "serverOverrideAssetsDigest" : null,
  "serverUsers" : {
    "user" : {
      "admin" : false,
      "password" : "1111"
    },
    "admin" : {
      "admin" : true,
      "password" : "1234"
    }
  },
  "tutorialMessages" : true
}
